// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//共通で使うもの

body {
  padding-top: 90px;
  padding-bottom: 80px;
  font-family: Avenir, 'Hiragino Sans', 'ヒラギノ角ゴ Pro W3', 'HIragino Kaku Gothic Pro W3', 'HIragino Kaku Gothic Pro', Meryo, メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;
  font-weight: 200;
  letter-spacing: 1.3px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.current_tab {
  background-color: #6ec7ea !important;
}


.visible {
  visibility: visible!important;
}

.hidden {
  visibility: hidden;
}

//ヘッダーナビゲーション
.nav_box {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  .nav_wrapper {
    position: relative;
    height: 128px;
    .navbar-brand {
      padding: 0px!important;
      img {
        height: 86px;
        margin-top: 22px;
      }
    }
    ul.nav li a{
      padding: 20px 0 0 0;
      font-size: initial;
      margin-left: 28px;
    }
    .sub_navbar{
      position: absolute;
      right: 0px;
      padding-right: 15px;
      top: 129px;
    }
  }
}

li {
  list-style: none;
}




ul.sub_nav {
  li {
    float: right;
    background-color: #333333;
    color: #fff;
    padding: 8px 19px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 3px;
    a {
      color: #fff;
    }
  }
  li + li {
    margin-right: 10px;
  }
}


// フッター
.panel_box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background-color: #eee;

  .panel-body{
    padding: 0 0 0 14px;
    position: relative;
    height: 75px;

    .cd_infobox {
      img.naxos_image{
        width: 75px;
        height: 75px;
        float: left;
      }
      .cd_description{
        float: left;
        padding: 8px 0 7px 6px;
        p.cd_song_title {
          margin: 8px 0 0 10px;
          font-size: 14px;
        }
        p.cd_song_artist{
          margin: 5px 0 0 10px;
        }
      }
    }
    .player_buttons{
      position: absolute;
      top: 25px;
      left: calc(50% - 41px);
      span.glyphicon-step-backward {
        font-size: x-large;
        margin-right: 3px;
      }
      span.glyphicon-play {
        font-size: x-large;
        display: none;
        margin: 0 10px 0;
      }
      span.glyphicon-pause {
        font-size: x-large;
        margin: 0 10px 0;
      }
      span.glyphicon-step-forward{
        font-size: x-large;
        margin-left: 3px;
      }
    }
    .current_song_concerts {
      margin-right: 15px;
      position: absolute;
      right: 0;
      border-left: solid 7px rgb(114, 219, 242);
      color: rgb(114, 219, 242);
      height: 100%;
      width: 475px;
      background-color: #fff;
      padding: 8px 6px;

      .concerts_date {
        float: left;
        margin: 5px 0 0px 10px;
        .month{
          font-size: 100%;
          color: #64c9e9;
        }
        .divide_line {
          margin: -37px 7px -1px 8px;
          font-size: 62px;
          font-weight: inherit;
          color: #64c9e9;
        }
        .day {
          font-size: 235%;
          margin-top: -57px;
          margin-left: 26px;
          color: #64c9e9;
        }
      }
      .concerts_artists{
        float: left;
        margin-left: 16px;
        p.orchestra_name {
          color: #64c9e9;
          margin: 0px;
          font-size: 16px;
          margin: 6px 0 0 0;
        }
        p.conductor_name {
          margin: 5px 0 0 0;
          color: #64c9e9;
        }
      }
      .other_concerts {
        float:right;
        visibility: hidden;
      }
    }
  }
}

#player {
  float: left;
  display: none;
}

//近日公演
.soon_concert{
  h1 {
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;
  }
  img {
    height: 46px;
    margin-bottom: 8px;
    margin-right: 7px;
  }
}
.main{
  > hr {
    border-top: 2px solid #eee;
    margin-top: 6px ;
    margin-bottom: 18px;
  }
}

.concert_list {
  .col-md-3 {
    padding: 0 15;
  }
  .concert_box {
    padding-left: 0!important;
    padding-right: 0!important;
    min-height: 300px;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
    background-color: #f8f8f8;
    .concert_img {
      height: 150px;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b5/Dohnanyi_Orchestra_Budafok.JPG);
      background-size: contain;
    }
    .concert_content {
      padding: 6px 10px 10px 10px;
      color: #333333;
      font-weight: 700;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .cond_name {
        margin-top: 5px;
      }
    }
  }
}

//コンサート
.ng-view{
  margin-top: 98px;
}
.concert_infobox {

  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
  padding: 10px 36px 20px 36px;
  h2 {
    color: rgb(114, 219, 242);
  }
  .name {
    font-size: large;
    font-weight: bold;
  }
  .players {
    .conductor {
      float: left;
      margin-right: 50px;
    }
    .artist {
      float: left;
      margin-right: 50px;
    }
  }
  .program {
    margin-top: 7px;
  }
}
