// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//共通で使うもの

body {
  background-color: #fafafa;
  padding-top: 90px;
  padding-bottom: 80px;
  font-family: Avenir, 'Hiragino Sans', 'ヒラギノ角ゴ Pro W3', 'HIragino Kaku Gothic Pro W3', 'HIragino Kaku Gothic Pro', Meryo, メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;
  font-weight: 200;
  letter-spacing: 1.3px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.current_tab {
  background-color: #6ec7ea !important;
}


.visible {
  visibility: visible!important;
}

.hidden {
  visibility: hidden;
}

.page_title {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

//ヘッダーナビゲーション
.nav_box {
  border-bottom: 1px solid #ddd;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  .nav_wrapper {
    position: relative;
    height: 68px;
    .navbar-brand {
      padding: 0px!important;
      img {
        height: 48px;
        margin: 10px 14px;
      }
    }
    ul.nav{
      margin-top: 10px;
      li a{
        padding: 20px 0 0 0;
        font-size: initial;
        margin-left: 28px;
      }
    }
    .sub_navbar{
      position: absolute;
      right: 0px;
      padding-right: 15px;
      top: 69px;
    }
  }
}

li {
  list-style: none;
}




ul.sub_nav {
  li {
    float: right;
    background-color: #8c8c8c;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 3px;
    a {
      color: #fff;
      padding: 6px 15px;
      display: block;
    }
  }
  li + li {
    margin-right: 10px;
  }
}


// フッター
.panel_box {
  // display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background-color: #eee;

  .panel-body{
    padding: 0 0 0 14px;
    position: relative;
    height: 60px;

    .cd_infobox {
      img.naxos_image{
        width: 60px;
        height: 60px;
        float: left;
      }
      .cd_description{
        float: left;
        padding: 11px 0 7px 6px;
        p.cd_song_title {
          margin: 0 0 0 10px;
          font-size: 12px;
        }
        p.cd_song_artist{
          margin: 5px 0 0 10px;
          font-size: 12px;
        }
      }
    }
    .player_buttons{
      position: absolute;
      top: 20px;
      left: calc(50% - 50px);
      span.glyphicon-step-backward {
        font-size: x-large;
        margin-right: 3px;
        text-shadow: rgba(0, 0, 0, 0.8) 0 0 0.5em;
      }
      span.glyphicon-play {
        font-size: x-large;
        display: none;
        margin: 0 10px 0;
        text-shadow: rgba(0, 0, 0, 0.9) 0 0 0.5em;
      }
      span.glyphicon-pause {
        font-size: x-large;
        margin: 0 10px 0;
        text-shadow: rgba(0, 0, 0, 0.9) 0 0 0.5em;
      }
      span.glyphicon-step-forward{
        font-size: x-large;
        margin-left: 3px;
        text-shadow: rgba(0, 0, 0, 0.9) 0 0 0.5em;
      }
    }
    .current_song_concerts {
      margin-right: 15px;
      position: absolute;
      right: 0;
      border-left: solid 7px rgb(114, 219, 242);
      color: rgb(114, 219, 242);
      height: 100%;
      width: 475px;
      background-color: #fff;
      padding: 8px 6px;
      &:hover {
        // z-index: -1;
        background-color: rgba(255, 255, 255, .3);
      }
      a {
        width: 100%
      }
      .concerts_date {
        float: left;
        margin: 5px 0 0px 10px;
        .month{
          font-size: 100%;
          color: #64c9e9;
        }
        .divide_line {
          margin: -35px 7px -1px 9px;
          font-size: 47px;
          font-weight: inherit;
          color: #64c9e9;
        }
        .day {
          font-size: 180%;
          margin-top: -44px;
          margin-left: 20px;
          color: #64c9e9;
        }
        .date {
          margin: -24px 0 0 52px;
          color: #64c9e9;
        }
      }
      .concerts_artists{
        float: left;
        margin-left: 16px;
        p.orchestra_name {
          color: #64c9e9;
          margin: 0px;
          font-size: 12px;
          margin: 3px 0 0 0;
        }
        p.conductor_name {
          margin: 5px 0 0 0;
          color: #64c9e9;
          font-size: 12px;
        }
      }
      .other_concerts {
        float:right;
        visibility: hidden;
      }
    }
  }
}

#player {
  float: left;
  display: none;
}

//近日公演
.soon_concert{
  img {
    height: 38px;
    margin-bottom: 8px;
    margin-right: 7px;
  }
}
.main{
  > hr {
    border-top: 3px solid #ffffff;
    margin-top: 6px ;
    margin-bottom: 18px;
  }
}

.concert_list {
  .col-md-3 {
    padding: 0 15;
  }
  .concert_box {
    padding-left: 0!important;
    padding-right: 0!important;
    height: 300px;
    margin-bottom: 3rem;
    // box-shadow: 0 1px 1px #dddddd;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
    background-color: #ffffff;
    &:hover{
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.03);
    }
    .concert_img {
      height: 150px;
      // background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b5/Dohnanyi_Orchestra_Budafok.JPG);
      background-size: cover;
      position: relative;
      .concert_date {
        background-color: rgba(#000000, 0.50);
        color: white;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: auto;
        padding: 5px;
      }
    }
    .concert_content {
      padding: 19px 15px 10px;
      color: #333333;
      font-weight: 700;
      font-size: 0.8em;
      p{
      font-size: 12px;
      font-weight: 700;
      }
      .orchestra_name{
        font-weight: 400;
      }
      .cond_name{
        font-weight: 400;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .cond_name {
        margin-top: 5px;
      }
    }
  }
}

//コンサート
.ng-view{
  margin-top: 50px;
}
.concert_infobox {

  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
  padding: 10px 36px 20px 36px;
  h2 {
    color: rgb(114, 219, 242);
  }
  .name {
    font-size: large;
    font-weight: bold;
  }
  .players {
    .conductor {
      float: left;
      margin-right: 50px;
    }
    .artist {
      float: left;
      margin-right: 50px;
    }
  }
  .program {
    margin-top: 7px;
  }
}

//オーケストラ一覧
.orchestra_list {
  .orchestra_box {
    background-color: #fff;
    height: 200px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
    margin-top: 20px;
    text-align: center;
    padding-top: 90px;
    &:hover{
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

//オーケストラ詳細
.orchestra_concert_list {
  .concert_box {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
    background-color: #fff;
    margin-top: 20px;
    a {
      display: block;
      padding: 15px 20px;
    &:hover{
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.05);
    }
    }
    .concert_schedule{
      font-weight: bold;
      font-size: larger;
      padding-left: 0;
      .concert_date {
        float: left;
      }
      .concert_time {
        margin-left: 0.5em;
        float: left;
      }
      .hall {
        margin-left: 0.5em;
        float: left;
      }
    }
    .concert_content {
      margin-top: 20px;
      padding-left: 0;
      position: relative;
      .content_player {
        width: 350px;
        float: left;
        .conductor {
          float: left;
          border-left: 3px solid black;
          padding-left: 9px;
          color: #aaa;
        }
        .cond_name {
          font-weight: bold;
          margin-left:40px;
          float: left;
        }
      }
      .program {
        float: left;
        left: 30%;
        border-left: 3px solid black;
        padding-left: 9px;
        color: #aaa;
        margin-right: 20px;
      }
      .composer {
        font-weight: bold;
        float: left;
        margin-left: 20px;
      }
    }
  }
}
