// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//共通で使うもの

$black : #292929;
$footer_text : #3BBFDB;

body {
  background-color: #fafafa;
  padding-top: 90px;
  padding-bottom: 80px;
  font-family: Avenir, 'Hiragino Sans', 'ヒラギノ角ゴ Pro W3', 'HIragino Kaku Gothic Pro W3', 'HIragino Kaku Gothic Pro', Meryo, メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;
  font-weight: 200;
  letter-spacing: 1.3px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.current_tab {
  background-color: #6ec7ea !important;
}


.visible {
  visibility: visible!important;
}

.hidden {
  visibility: hidden;
}

.page_title {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

.name {
  font-size: large;
  font-weight: bold;
}

.page_area {
  margin-top: 45px;
}

//ヘッダーナビゲーション
.nav_box {
  border-bottom: 1px solid #ddd;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  .nav_wrapper {
    position: relative;
    height: 68px;
    .navbar-brand {
      padding: 0px!important;
      img {
        height: 48px;
        margin: 10px 14px;
      }
    }
    ul.nav{
      margin-top: 10px;
      li a{
        padding: 20px 0 0 0;
        font-size: initial;
        margin-left: 28px;
      }
    }
    .sub_navbar{
      position: absolute;
      right: 0px;
      padding-right: 15px;
      top: 69px;
    }
  }
}

li {
  list-style: none;
}




ul.sub_nav {
  li {
    float: right;
    background-color: #8c8c8c;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    a {
      color: #fff;
      padding: 6px 15px;
      display: block;
    }
  }
  li + li {
    margin-right: 10px;
  }
}


#player {
  float: left;
  display: none;
}

//近日公演
.soon_concert{
  img {
    height: 38px;
    margin-bottom: 8px;
    margin-right: 7px;
  }
}
.main{
  > hr {
    border-top: 3px solid #ffffff;
    margin-top: 6px ;
    margin-bottom: 18px;
  }
}

.concert_list {
  .col-md-3 {
    padding: 0 15;
  }
  .concert_box {
    padding-left: 0!important;
    padding-right: 0!important;
    height: 300px;
    margin-bottom: 3rem;
    // box-shadow: 0 1px 1px #dddddd;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
    background-color: #ffffff;
    .concert_img {
      height: 150px;
      // background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b5/Dohnanyi_Orchestra_Budafok.JPG);
      background-size: cover;
      position: relative;
      // &:hover {
      //   opacity: 0.7;
      // }
      .concert_date {
        background-color: rgba(#000000, 0.50);
        color: white;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: auto;
        padding: 5px;
      }
    }
    .concert_content {
      padding: 19px 15px 10px;
      color: #333333;
      font-weight: 700;
      font-size: 0.8em;
      p{
      font-size: 12px;
      font-weight: 700;
      }
      .orchestra_name{
        font-weight: 400;
      }
      .cond_name{
        font-weight: 400;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .cond_name {
        margin-top: 5px;
      }
    }
    &:hover{
      // z-index: -1;
      opacity: 0.8;
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}

//コンサート
.ng-view{
  margin-top: 50px;
}
.concert_infobox {

  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
  padding: 10px 36px 20px 36px;
  h2 {
    color: rgb(114, 219, 242);
  }
  .players {
    .conductor {
      float: left;
      margin-right: 50px;
    }
    .artist {
      float: left;
      margin-right: 50px;
    }
  }
  .program {
    margin-top: 7px;
  }
}

//オーケストラ一覧
.orchestra_list {
  .orchestra_box {
    background-color: #fff;
    height: 200px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
    margin-top: 20px;
    text-align: center;
    padding-top: 90px;
    &:hover{
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

//オーケストラ詳細
.orchestra_concert_list {
  .concert_box {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);
    background-color: #fff;
    margin-top: 20px;
    a {
      display: block;
      padding: 15px 20px;
    &:hover{
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.04);
    }
    }
    .concert_schedule{
      font-weight: bold;
      font-size: larger;
      padding-left: 0;
      .concert_date {
        float: left;
      }
      .concert_time {
        margin-left: 0.5em;
        float: left;
      }
      .hall {
        margin-left: 0.5em;
        float: left;
      }
    }
    .concert_content {
      margin-top: 20px;
      padding-left: 0;
      position: relative;
      .content_player {
        width: 350px;
        float: left;
        .conductor {
          float: left;
          border-left: 3px solid black;
          padding-left: 9px;
          color: #aaa;
        }
        .cond_name {
          font-weight: bold;
          margin-left:40px;
          float: left;
        }
      }
      .program {
        float: left;
        left: 30%;
        border-left: 3px solid black;
        padding-left: 9px;
        color: #aaa;
        margin-right: 20px;
      }
      .composer {
        font-weight: bold;
        float: left;
        margin-left: 20px;
      }
    }
  }
}

.form_box {
  .form-group {
    .artist_input {

    }
  }
}


.current_song_concerts:after {
  content: "";
  position: absolute;
  top: 50%; left: -10px;
  margin-top: -10px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}
.current_song_concerts:hover:after{
  border-color: transparent rgba(255, 255, 255, .9) transparent transparent;
}

.panel_box {
  // display: none;
  border: 0;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background-color: #333333;
  .panel-body{
    padding: 0 0 0 14px;
    position: relative;
    height: 60px;

    .cd_infobox {
      float: left;
      // height: 100%;
      margin-top: 4px;
      margin-left: 25px;
      padding: 6px 12px;
      // background-color: #757575;
      .cd_wrapper {
        float: left;
        background-color: #bdbdbd;
        img.naxos_image{
          width: 40px;
          height: 40px;
          // float: left;
        }
      }
      .cd_description{
        float: left;
        margin-left: 7px;
        p.cd_nav {
          margin: 0;
          color: #888;
          font-size: 12px
        }
        p.cd_song_title {
          color: #fff;
          margin: 0;
          margin-top: 3px;
          font-size: 11px;
        }
        p.cd_song_artist{
          font-size: 12px;
        }
      }
    }
    .player_buttons{
      padding: 19px 20px 0 20px;
      border-right: 1px solid #666;
      border-left: 1px solid #666;
      height: 100%;
      float: left;
      color: #fff;
      span.glyphicon-step-backward {
        font-size: large;
        margin-right: 3px;
      }
        span.glyphicon-play {
          font-size: 21px;
          display: none;
          margin-left: 2px;
          margin: 0 5px 0;
        }
        span.glyphicon-pause {
          font-size: 21px;
          margin-left: 2px;
          margin: 0 5px 0;
        }
      // }
      span.glyphicon-step-forward{
        font-size: large;
        margin-left: 3px;
      }
    }
    .current_song_concerts {
      margin-right: 10px;
      margin-left: 35px;
      position: relative;
      float: left;
      margin-top: 4px;
      margin-bottom: 3px;
      color: rgb(114, 219, 242);
      height: 82%;
      width: 450px;
      background-color: #fff;
      padding: 9px 6px;
      box-shadow: 0 2px 0 #ccc;
      &:hover {
        background-color: rgba(255, 255, 255, .9);
      }
      a {
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 4px;
      }
      .concerts_date {
        float: left;
        margin: 5px 2px 0px 10px;
        .month{
          font-size: 100%;
          color: $footer_text;
        }
        .divide_line {
          margin: -32px 7px -1px 9px;
          font-size: 44px;
          font-weight: inherit;
          color: $footer_text;
        }
        .day {
          font-size: 180%;
          margin-top: -44px;
          margin-left: 20px;
          color: $footer_text;
        }
        .date {
          margin: -24px 0 0 49px;
          color: $footer_text;
        }
      }
      .concerts_artists{
        float: left;
        margin-left: 16px;
        p.orchestra_name {
          color: $footer_text;
          margin: 0px;
          font-size: 14px;
          font-weight: 500;
          margin: 3px 0 0 0;
        }
        p.conductor_name {
          margin: 4px 0 0 0;
          color: $footer_text;
          font-size: 12px;
        }
      }
      p.read_more {
        // float: right;
        // margin-top: 29px;
        // margin-right: 1px;
        position: absolute;
        bottom: -10px;
        right: 3px;
        text-decoration: underline;
        font-size: 12px;
        color: #616161;
        &:hover{
          color: #01579B;
        }
      }
      .current_song_concerts:after {
      	content: "";
      	position: absolute;
      	top: 50%; left: -10px;
      	margin-top: -10px;
      	display: block;
      	width: 0px;
      	height: 0px;
      	border-style: solid;
      	border-width: 10px 10px 10px 0;
      	border-color: transparent #fff transparent transparent;
      }
      .current_song_concerts:hover:after{
        border-color: transparent rgba(255, 255, 255, .9) transparent transparent;
      }
    }
    .other_concerts {
      float:left;
      margin-top: 4px!important;
      visibility: hidden;
      box-shadow: 0 2px 0 #ccc!important;
      button{
        border-radius: 0;
        &:hover {
          background-color: rgba(255, 255, 255, .9);
        }
      }
    }
  }
}

.button_anime,
.button_anime::before,
.button_anime::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
